body{
    margin: 0;
}
.header{
    background-color: rgb(235, 232, 232);
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header p{
    font-size: 2rem;

}
.main{
    background-color: rgb(235, 232, 232);
    width: 40rem;
    height: 10rem;
    margin: 3rem 27rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-container{
    display: flex;
    margin: 1rem;
}
.search-container>*{
    margin: 1rem;
}